.filter-container {
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

#nalogi-table-filters-sorting:before,
#nalogi-table-filters-sorting:after {
  opacity: 0.5;
}

#nalogi-table-filters-sorting:before {
  right: 1em;
  content: "\2191"
}

#nalogi-table-filters-sorting:after {
  right: 0.5em;
  content: "\2193"
}

.input-group-append.sort-asc #nalogi-table-filters-sorting:before,
.input-group-append.sort-desc #nalogi-table-filters-sorting:after {
  opacity: 1;
}
