:root {
  --hilight-color: #00adee;
}

.navbar-brand > img {
  max-height: 50px;
}

body {
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
}

main {
  margin-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.modal {
  overflow-y: auto;
}

a {
  text-decoration: none !important;
}

.a-link {
  color: inherit;
}

.a-link:hover {
  color: #ededed;
}

.icon-link {
  cursor: pointer;
}

.icon-link:hover {
  color: var(--hilight-color);
}

.a-icon-remove {
  margin-right: 5px;
  margin-left: 5px;
  color: red;
}

.a-icon-remove:hover {
  color: darkred;
}

.modal-lg.modal-xl {
  max-width: 90%;
}

ul.ui-autocomplete {
    z-index: 1051;
}

.btn.btn-custom {
  background-color: var(--hilight-color);
  border-color: var(--hilight-color);
  color: white;
}

.btn.btn-custom:hover,
.btn.btn-custom:focus,
.btn.btn-custom:active {
  background-color: white;
  border-color: var(--hilight-color);
  color: var(--hilight-color);
}

.btn.btn-custom-outline {
  background-color: white;
  border-color: var(--hilight-color);
  color: var(--hilight-color);
}

.btn.btn-custom-outline:hover,
.btn.btn-custom-outline:focus,
.btn.btn-custom-outline:active {
  background-color: var(--hilight-color);
  border-color: var(--hilight-color);
  color: white;
}

a {
  text-decoration: none;
  outline: 0;
}

a.list-item:after {
  display:block;
  content: '';
  border-bottom: 1px solid var(--hilight-color);
  transform: scaleX(0);
  transition: transform 500ms ease-in-out;
  transform-origin:  0% 50%;
}

a.list-item:hover {
  color: inherit;
  text-decoration: none;
}

a.list-item:hover:after {
  transform: scaleX(1);
}

a.list-item:hover > i.i-fas-chevron,
a.list-item.active > i.i-fas-chevron {
  color: var(--hilight-color);
}

a.list-item.active {
  color: inherit;
  text-decoration: none;
}

a.list-item.active:after {
  transform: scaleX(1)
}

.dataTables_wrapper table td::before, .dataTables_wrapper table td::after {
  display: none !important;
}

table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child {
  padding-left: 0.75rem !important;
}

.dataTables_wrapper #table-nalog thead{
  display: none;
}

.dataTables_wrapper tbody tr.parent td,
.dataTables_wrapper tbody tr[role=row]:hover td {
  border-top: 2px solid var(--hilight-color);
  border-left: 2px solid var(--hilight-color);
  border-right: 2px solid var(--hilight-color);
  background-color: var(--hilight-color);
  color: white;
}

.dataTables_wrapper tbody tr.parent td .icon-link:hover,
.dataTables_wrapper tbody tr[role=row]:hover td .icon-link:hover {
  color: initial;
}

.dataTables_wrapper tbody tr.child td {
  border-bottom: 2px solid var(--hilight-color);
  border-left: 2px solid var(--hilight-color);
  border-right: 2px solid var(--hilight-color) !important;
  background-color: white;
}

.page-link {
  color: var(--hilight-color);
}

.page-link:hover {
  color: var(--hilight-color);
}

.page-item.active .page-link {
  background-color: var(--hilight-color);
  border-color: var(--hilight-color);
}

.table-wrapper {
}

div.dt-buttons {
  float: right;
}

.row-options {
  background-color: transparent;
  position: absolute;
  right: 0;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.row-options .btn.btn-outline-light {
  border-color: white;
  color: white;
}

.row-options .btn.btn-outline-light:hover,
.row-options .btn.btn-outline-light:focus,
.row-options .btn.btn-outline-light:active {
    background-color: white;
    color: var(--hilight-color);
}

div.slider {
    display: none;
}

.flex-columns {
  display: flex;
  justify-content: space-between;
}

div.slider .details-row {
  padding: 10px 0px;
}

div.slider .details-row:nth-child(even) {
  background-color: #f7fdffe6;
}

.bold-text {
  font-weight: bold;
}

.detail-hidden {
  display: none;
}

.tree-view {
  padding: 10px;
  padding-bottom: 0px;
  border: 1px solid gray;
}

.tree-view .info-text {
  margin-top: 10px;
  border-top: 1px solid gray;
  padding-top: 5px;
  padding-bottom: 5px;
}

.list-item {
  display: inline-block;
  color: #212529;
  width: 100%;
}

.list-item .fa-chevron-right,
.list-item .fa-chevron-down {
  margin-right: 5px;
}

.list-item-content {
  width: 100%;
  background-color: #fffc;
  padding: 5px;
}

.autocomplete-window {
  position: absolute;
  top: 100% !important;
  background-color: white;
  z-index: 1;
}

.edit-link {
  font-size: 0.8rem;
  margin-left: 5px;
}

.missing-value {
  border-color: red;
}

.custom-alert-input {
  border-color: red;
}

.kosovnica-div {
  margin-bottom: 20px;
}

.kosovnica-div > .row .col:nth-child(2) {
  text-align: right;
}

.kosovnica-div > .row:nth-last-child(2) {
  border-bottom: 1px solid black;
}
